

.hero {
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
    flex-direction: column;
    position: relative;
    z-index: -1;
    min-height: 110vh;
    background-image: url(hero-boston.JPG);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-text {
    font-family: 'Fira Code', monospace;
    color: #D1604D;
    position: relative;
    top: 5%;
}

.hero-text h1 {
    font-size: 2.5em;
}