* {
    box-sizing: border-box;
}

.portfolioList-container-col {
    display: flex;
    flex-direction: column;
    /* flex: 0 0 40%; */
    
}

.portfolioList-container-row {
    display: flex;
    /* flex-direction: row;
    flex: 0 0 10%; */
    flex-flow: wrap;
    align-content: space-around;
    justify-content: center;
}

.portfolioItem {
    flex-basis: 1 1 400px;
    max-width: 40%;
    min-width: 400px;
    margin: 2em 5% 2em 5%;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    background-color: #525252;
}

.portfolioItem img {
    max-height: 100%;
    max-width: 100%;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}

.portfolioItem li {
  display: inline-flex;
  flex-basis: 0 0 1em;
  justify-content: space-around;
  list-style: none;
  background-color: #a7a7a7;
  color: #08060d;
  margin: 1em;
  padding: 0.25em 0.5em;
}

.portfolioItem ul {
    padding: 0;
}

.portfolioItem-description {
    padding: 0 1em;
}

