* {
    box-sizing: border-box;
}

.portfolioList-container-col {
    display: flex;
    flex-direction: column;
}

.portfolioList-container-row {
    display: flex;
    flex-flow: wrap;
}

.portfolioItem {
    display: flex;
    flex-direction: column;
    flex: 1 1 350px;
    margin: 1em 1em 1em 1em;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    background-color: #525252;
    overflow: hidden;
}

.portfolioItem img {
    max-height: 100%;
    max-width: 100%;
    overflow: hidden;
}

.portfolioItem li {
  display: inline-flex;
  justify-content: space-around;
  list-style: none;
  background-color: #a8dadc;
  color: #08060d;
  margin: 0.25em;
  padding: 0.25em 0.5em;
}

.portfolioItem-toolsList {
    padding: 0;
    margin: 0;
}

.portfolioItem-title {
    margin: 0.25em;
}

.portfolioItem-toolsList div {
    margin: 0.25em;
}

.portfolioItem-info {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.portfolioItem-description p {
    margin: 1em 1em;
    text-align: left;
    line-height: 1.5;
}

.portfolioItem-description {
    flex-grow: 1;
}

.portfolioItem-links-container {
    height: 2em;
}
