
.am-container {
  margin: 1em;
    display: flex;
    flex-wrap: wrap;
}

.am-text {
    flex: 1 1 350px;
    justify-content: center;
}

.am-headshot {
  flex: 1 1 200px;
  align-content: center;
}

.headshot {
  width: 100%;
  max-width: 350px;
}

.am-container p {
  font-size: 1.1em;
  padding: 0 10% 0 10%;
}
